

.text-area{
	-fx-control-inner-background:  #3F3F3F;
	-fx-border-style: none;
	-fx-background-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: 'Fira Code Medium';

}


.text-area .content {
    -fx-background-radius: 0;
}

#pyArea {

    -fx-font-size: 14px;
}


.button{
    -fx-background-color: linear-gradient(to bottom, #333333 0%, #000000 100%),linear-gradient(to bottom, #666666 0%, #333333 100%);
        -fx-background-insets: 0;
        -fx-background-radius: 5px;
        -fx-text-fill: #ffffff;
        -fx-font-weight: bold;

}

.button:hover {
     -fx-background-color: linear-gradient(to bottom, #444444 0%, #111111 100%),linear-gradient(to bottom, #777777 0%, #444444 100%);
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #111111 0%, #444444 100%),linear-gradient(to bottom, #444444 0%, #111111 100%);
}


.label{
    -fx-text-fill: white;
}

